<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <title>To Do List</title>
</head>
<body>
  <div class="container">
      <div class="row">
          <div class="two columns">
          </div>
          <div class="four columns">
              <h1>Here is the home page</h1>
              <p><a href='/task'>View your list of things to do.</a></p>
          </div>
      </div>
    </div>
</body>
</html>
